$light-blue: #a9c2ff87;
$light-blue-bg: #b2a9ff0f;

$main-background-table-color: #ffffff;
$main-font-color: #4c4c4c;
$main-theme-color: #4f6df5;

$danger-color: #f84042;
$contrast-green: #37ae3b;
$light-gray: #bebebe;
$dark-blue: #040047;

$white: #fff;
$black: #000;

$body-color: #F0F0F0;

$box-shadow: 0 2px 4px #929ea9;
