.bg-info {
  background-color: #4f6df5 !important;
}

.navbar {
  padding-bottom: 0;
  padding-top: 0;
  min-height: inherit;
}
.navbar .navbar-nav {
  margin-top: 5px;
}
.navbar .navbar-nav .nav-link {
  font-size: 14px !important;
  text-transform: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  transition: none !important;
}
.navbar .navbar-nav .nav-item.active {
  border-bottom: 3px solid #fff;
  position: relative;
  font-weight: 500;
}
.navbar .navbar-nav .nav-item {
  min-width: 100px;
  text-align: center;
  margin-bottom: 0;
  border-bottom: 3px solid transparent; /* Invisible border to avoid height change */
}
.navbar .navbar-nav .nav-item:hover {
  border-bottom-color: #fff;
  font-weight: 500;
}
.navbar .istkr-pro-features {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  justify-content: center;
  color: #1d2327 !important;
  background: #fff;
  opacity: 0.9;
  margin: 0 auto;
  max-width: 200px;
}
.navbar .istkr-pro-features:hover {
  color: #fff;
  opacity: 1;
  transition: all 0.5s;
}
.navbar .istkr-pro-features img {
  width: 30px;
  filter: brightness(1.1) saturate(1.1);
  margin-left: 10px;
}

.istkr-advisor .top-section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px #929ea9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.istkr-advisor .top-section .istkr-advisor-progress-bar {
  width: 100%;
  height: 10px;
  display: flex;
  background-color: #bebebe;
  border-radius: 15px;
  overflow: hidden;
}
.istkr-advisor .top-section .istkr-advisor-progress-bar .progress-bar.success {
  background-color: #37ae3b;
}
.istkr-advisor .top-section .istkr-advisor-progress-bar .progress-bar.fail {
  background-color: #f84042;
}
.istkr-advisor .istkr-accordion {
  margin-top: 25px;
}
.istkr-advisor .istkr-accordion .accordion-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px #929ea9;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 15px;
}
.istkr-advisor .istkr-accordion .accordion-item .accordion-header .accordion-button {
  border: 0;
  background: transparent;
  box-shadow: none;
}
.istkr-advisor .istkr-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #000;
}
.istkr-advisor .istkr-accordion .accordion-item .accordion-header .header-data {
  display: flex;
  width: calc(100% - 50px);
  align-items: center;
}
.istkr-advisor .istkr-accordion .accordion-item .accordion-header .header-data .status-badge {
  font-size: 34px;
  margin-right: 15px;
}
.istkr-advisor .istkr-accordion .accordion-item .accordion-header .header-data .status-badge.unknown {
  color: #bebebe;
}
.istkr-advisor .istkr-accordion .accordion-item .accordion-header .header-data .status-badge.success {
  color: #37ae3b;
}
.istkr-advisor .istkr-accordion .accordion-item .accordion-header .header-data .status-badge.fail {
  color: #f84042;
}
.istkr-advisor .istkr-accordion .accordion-item .accordion-body {
  margin-left: 45px;
}

#wpcontent {
  background: #f1f1f1;
  height: 100vh;
}

.istkr-dashboard .module-card {
  box-shadow: 0 2px 4px #929ea9;
  padding: 0 5px;
  margin: 0.75rem 0;
}
.istkr-dashboard .module-card .card-body {
  min-height: 245px;
  padding: 1rem 1.4rem;
}
.istkr-dashboard .module-card .card-body .card-title {
  min-height: 60px;
}
.istkr-dashboard .module-card .card-body .card-title h4 {
  margin: 0;
  color: #040047;
}
.istkr-dashboard .module-card .card-body .card-title a {
  color: #4a4a4a;
  text-decoration: none;
  box-shadow: none;
  outline: 0;
}
.istkr-dashboard .module-card .card-body .card-title .info, .istkr-dashboard .module-card .card-body .card-title .info > p {
  font-size: 13px;
  color: #777777;
}
.istkr-dashboard .module-card .card-body .card-title .notification-status {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 20px;
}
.istkr-dashboard .module-card .card-body .card-title .notification-status a {
  color: #cecece;
  box-shadow: none;
  cursor: pointer;
}
.istkr-dashboard .module-card .card-body .card-info {
  display: flex;
  justify-content: space-between;
}
.istkr-dashboard .module-card .card-body .card-info p {
  border-radius: 5px;
  background-color: rgba(108, 194, 255, 0.168627451);
  font-size: 12px;
}
.istkr-dashboard .module-card .card-body .btn-info {
  padding: 11px 25px;
  border-radius: 5px;
  font-weight: 600;
  background-color: #4f6df5;
  position: absolute;
  bottom: 15px;
}
.istkr-dashboard .log-not-writable {
  background: #fff;
  margin-top: 25px;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #929ea9;
}

.base-table-viewer-structure, .istkr-404-redirects, .istkr-log-viewer {
  margin-top: 1rem;
}
.base-table-viewer-structure .dataTable[role=grid], .istkr-404-redirects .dataTable[role=grid], .istkr-log-viewer .dataTable[role=grid] {
  border: 1px;
  border-radius: 5px;
  border-color: #ddd;
  border-style: solid;
}
.base-table-viewer-structure .dataTable[role=grid] thead, .istkr-404-redirects .dataTable[role=grid] thead, .istkr-log-viewer .dataTable[role=grid] thead {
  background-color: #f8f9fa;
}
.base-table-viewer-structure .dataTable[role=grid] thead tr[role=row], .istkr-404-redirects .dataTable[role=grid] thead tr[role=row], .istkr-log-viewer .dataTable[role=grid] thead tr[role=row] {
  vertical-align: top;
}
.base-table-viewer-structure .dataTable[role=grid] thead tr[role=row] th:nth-child(1), .istkr-404-redirects .dataTable[role=grid] thead tr[role=row] th:nth-child(1), .istkr-log-viewer .dataTable[role=grid] thead tr[role=row] th:nth-child(1) {
  text-align: left;
  padding-left: 10px;
}
.base-table-viewer-structure .dataTable[role=grid] thead tr[role=row] th, .istkr-404-redirects .dataTable[role=grid] thead tr[role=row] th, .istkr-log-viewer .dataTable[role=grid] thead tr[role=row] th {
  padding-top: 15px;
  padding-bottom: 15px;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr.odd, .istkr-404-redirects .dataTable[role=grid] tbody tr.odd, .istkr-log-viewer .dataTable[role=grid] tbody tr.odd {
  background-color: #ffffff;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr.odd:hover, .istkr-404-redirects .dataTable[role=grid] tbody tr.odd:hover, .istkr-log-viewer .dataTable[role=grid] tbody tr.odd:hover {
  background-color: #f8f9fa;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr.even:hover, .istkr-404-redirects .dataTable[role=grid] tbody tr.even:hover, .istkr-log-viewer .dataTable[role=grid] tbody tr.even:hover {
  background-color: #f8f9fa;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr td:nth-child(1), .istkr-404-redirects .dataTable[role=grid] tbody tr td:nth-child(1), .istkr-log-viewer .dataTable[role=grid] tbody tr td:nth-child(1) {
  text-align: left;
  padding-left: 20px;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr td, .istkr-404-redirects .dataTable[role=grid] tbody tr td, .istkr-log-viewer .dataTable[role=grid] tbody tr td {
  border-bottom: 1px dashed rgba(178, 169, 255, 0.0588235294);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px !important;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr td .call-stack, .istkr-404-redirects .dataTable[role=grid] tbody tr td .call-stack, .istkr-log-viewer .dataTable[role=grid] tbody tr td .call-stack {
  color: #4f6df5;
  text-decoration: none;
  font-weight: bold;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr:hover, .istkr-404-redirects .dataTable[role=grid] tbody tr:hover, .istkr-log-viewer .dataTable[role=grid] tbody tr:hover {
  --bs-table-accent-bg: #f8f9fa;
}
.base-table-viewer-structure .table-wrapper .dt-buttons, .istkr-404-redirects .table-wrapper .dt-buttons, .istkr-log-viewer .table-wrapper .dt-buttons {
  margin-left: 15px;
}
.base-table-viewer-structure .table-wrapper .dt-buttons .dt-action-button, .istkr-404-redirects .table-wrapper .dt-buttons .dt-action-button, .istkr-log-viewer .table-wrapper .dt-buttons .dt-action-button {
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35em;
  margin: 5px 0 10px 0;
  color: #4bb5ff;
  border-radius: 0.1875rem;
  cursor: pointer;
  background: transparent;
  border: 1px solid;
  padding: 6px 22px;
  height: 30px;
}
.base-table-viewer-structure .table-wrapper .dt-buttons .dt-action-button:hover, .istkr-404-redirects .table-wrapper .dt-buttons .dt-action-button:hover, .istkr-log-viewer .table-wrapper .dt-buttons .dt-action-button:hover {
  filter: contrast(0.5);
  border: 1px solid #4bb5ff;
  background: transparent;
}
.base-table-viewer-structure .dataTables_paginate, .istkr-404-redirects .dataTables_paginate, .istkr-log-viewer .dataTables_paginate {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #dddddd;
  overflow: hidden;
}
.base-table-viewer-structure .log-filesize-limitation, .istkr-404-redirects .log-filesize-limitation, .istkr-log-viewer .log-filesize-limitation {
  text-align: center;
  color: #fa9732;
}

.istkr-log-viewer .manual-debugging-instructions_or {
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
}
.istkr-log-viewer .manual-debugging-instructions {
  text-align: center;
  display: block;
  margin: 10px auto;
  color: #4f6df5;
}
.istkr-log-viewer .top-section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px #929ea9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
}
.istkr-log-viewer .top-section .log-filepath {
  width: 100%;
  background-color: #F0F0F0;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
}
.istkr-log-viewer .top-section .buttons {
  padding-left: 15px;
  min-width: 130px;
}
.istkr-log-viewer .top-section .buttons .clear-log,
.istkr-log-viewer .top-section .buttons .refresh-log,
.istkr-log-viewer .top-section .buttons .download-log,
.istkr-log-viewer .top-section .buttons .live-update {
  margin: 0;
  width: 35px;
  height: 35px;
  padding: 0;
  font-size: 14px;
}
.istkr-log-viewer .top-section .buttons .live-update {
  animation: pulseAnimation 1s infinite;
}
@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
.istkr-log-viewer .top-section .buttons .refresh-log,
.istkr-log-viewer .top-section .buttons .download-log {
  background-color: #4f6df5;
}
.istkr-log-viewer .top-section .buttons .clear-log {
  background-color: #f84042;
}
.istkr-log-viewer pre {
  overflow-x: scroll;
  padding: 10px;
  background-color: #eee;
}
.istkr-log-viewer .table-wrapper {
  background: #fff;
  margin-top: 25px;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #929ea9;
}
.istkr-log-viewer .table-wrapper #istkr_log-table {
  width: 100% !important;
}
.istkr-log-viewer .table-wrapper #istkr_log-table .badge {
  min-width: 65px;
}
.istkr-log-viewer .bootstrap-switch {
  margin-right: 0;
}
.istkr-log-viewer .bootstrap-switch-on {
  background: #4f6df5;
}
.istkr-log-viewer .log-not-found {
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #929ea9;
}
.istkr-log-viewer .log-not-found code {
  color: #4f6df5;
}
.istkr-log-viewer .log-not-found h5 {
  text-align: center;
  padding: 20px;
}
.istkr-log-viewer .log-not-found h5 span {
  font-weight: 300;
}
.istkr-log-viewer .log-not-found button {
  margin: 0 auto;
  display: block;
  background-color: #4f6df5;
  text-transform: uppercase;
  font-weight: 500;
}
.istkr-log-viewer .log-not-found .card {
  max-width: 100%;
}

.base-table-viewer-structure, .istkr-404-redirects, .istkr-log-viewer {
  margin-top: 1rem;
}
.base-table-viewer-structure .dataTable[role=grid], .istkr-404-redirects .dataTable[role=grid], .istkr-log-viewer .dataTable[role=grid] {
  border: 1px;
  border-radius: 5px;
  border-color: #ddd;
  border-style: solid;
}
.base-table-viewer-structure .dataTable[role=grid] thead, .istkr-404-redirects .dataTable[role=grid] thead, .istkr-log-viewer .dataTable[role=grid] thead {
  background-color: #f8f9fa;
}
.base-table-viewer-structure .dataTable[role=grid] thead tr[role=row], .istkr-404-redirects .dataTable[role=grid] thead tr[role=row], .istkr-log-viewer .dataTable[role=grid] thead tr[role=row] {
  vertical-align: top;
}
.base-table-viewer-structure .dataTable[role=grid] thead tr[role=row] th:nth-child(1), .istkr-404-redirects .dataTable[role=grid] thead tr[role=row] th:nth-child(1), .istkr-log-viewer .dataTable[role=grid] thead tr[role=row] th:nth-child(1) {
  text-align: left;
  padding-left: 10px;
}
.base-table-viewer-structure .dataTable[role=grid] thead tr[role=row] th, .istkr-404-redirects .dataTable[role=grid] thead tr[role=row] th, .istkr-log-viewer .dataTable[role=grid] thead tr[role=row] th {
  padding-top: 15px;
  padding-bottom: 15px;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr.odd, .istkr-404-redirects .dataTable[role=grid] tbody tr.odd, .istkr-log-viewer .dataTable[role=grid] tbody tr.odd {
  background-color: #ffffff;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr.odd:hover, .istkr-404-redirects .dataTable[role=grid] tbody tr.odd:hover, .istkr-log-viewer .dataTable[role=grid] tbody tr.odd:hover {
  background-color: #f8f9fa;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr.even:hover, .istkr-404-redirects .dataTable[role=grid] tbody tr.even:hover, .istkr-log-viewer .dataTable[role=grid] tbody tr.even:hover {
  background-color: #f8f9fa;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr td:nth-child(1), .istkr-404-redirects .dataTable[role=grid] tbody tr td:nth-child(1), .istkr-log-viewer .dataTable[role=grid] tbody tr td:nth-child(1) {
  text-align: left;
  padding-left: 20px;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr td, .istkr-404-redirects .dataTable[role=grid] tbody tr td, .istkr-log-viewer .dataTable[role=grid] tbody tr td {
  border-bottom: 1px dashed rgba(178, 169, 255, 0.0588235294);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px !important;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr td .call-stack, .istkr-404-redirects .dataTable[role=grid] tbody tr td .call-stack, .istkr-log-viewer .dataTable[role=grid] tbody tr td .call-stack {
  color: #4f6df5;
  text-decoration: none;
  font-weight: bold;
}
.base-table-viewer-structure .dataTable[role=grid] tbody tr:hover, .istkr-404-redirects .dataTable[role=grid] tbody tr:hover, .istkr-log-viewer .dataTable[role=grid] tbody tr:hover {
  --bs-table-accent-bg: #f8f9fa;
}
.base-table-viewer-structure .table-wrapper .dt-buttons, .istkr-404-redirects .table-wrapper .dt-buttons, .istkr-log-viewer .table-wrapper .dt-buttons {
  margin-left: 15px;
}
.base-table-viewer-structure .table-wrapper .dt-buttons .dt-action-button, .istkr-404-redirects .table-wrapper .dt-buttons .dt-action-button, .istkr-log-viewer .table-wrapper .dt-buttons .dt-action-button {
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35em;
  margin: 5px 0 10px 0;
  color: #4bb5ff;
  border-radius: 0.1875rem;
  cursor: pointer;
  background: transparent;
  border: 1px solid;
  padding: 6px 22px;
  height: 30px;
}
.base-table-viewer-structure .table-wrapper .dt-buttons .dt-action-button:hover, .istkr-404-redirects .table-wrapper .dt-buttons .dt-action-button:hover, .istkr-log-viewer .table-wrapper .dt-buttons .dt-action-button:hover {
  filter: contrast(0.5);
  border: 1px solid #4bb5ff;
  background: transparent;
}
.base-table-viewer-structure .dataTables_paginate, .istkr-404-redirects .dataTables_paginate, .istkr-log-viewer .dataTables_paginate {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #dddddd;
  overflow: hidden;
}
.base-table-viewer-structure .log-filesize-limitation, .istkr-404-redirects .log-filesize-limitation, .istkr-log-viewer .log-filesize-limitation {
  text-align: center;
  color: #fa9732;
}

#istkr-404-redirects-table {
  width: 100% !important;
}

.istkr-404-redirects .top-section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px #929ea9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.istkr-404-redirects .top-section h5 {
  font-size: 16px;
  margin: 0;
}
.istkr-404-redirects .user-agent-modal li {
  list-style: none;
}
.istkr-404-redirects .table-wrapper {
  background: #fff;
  margin-top: 25px;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #929ea9;
}
.istkr-404-redirects .table-wrapper .actions {
  min-width: 90px;
}

.server-info {
  margin-top: 35px;
  max-width: 950px;
}
.server-info .dataTables_filter input {
  background: white;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #e6e3e3;
  margin-right: -50px;
  margin-bottom: 15px;
  padding: 0 10px;
}
.server-info .table {
  background: #fff;
  margin-top: 25px;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #929ea9;
}
.server-info .table .no-shadow {
  box-shadow: none;
}
.server-info .table thead {
  display: none;
}
.server-info .table tr {
  outline: 0;
  border: transparent;
  box-shadow: 0 5px 6px rgba(233, 233, 233, 0.4901960784);
  padding-top: 5px;
  margin-top: 15px;
  display: block;
}
.server-info .table tr.section-title td {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
.server-info .table tr .value {
  word-break: break-all;
}
.server-info .table tr td p {
  font-size: 14px;
  margin-bottom: 0;
}
.server-info .table tr td:first-child p {
  min-width: 300px;
  font-weight: bold;
}

.scroll-top {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  bottom: 100px;
  right: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  font-size: 32px;
}
.scroll-top:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  height: 60px;
}
.scroll-top svg {
  color: #fff;
  margin-bottom: 15px;
}

.alert.review {
  background-color: #37ae3b;
}
.alert.review a[data-rate-action=do-rate] {
  text-decoration: none;
  color: #fff;
}
.alert.review a[data-rate-action=do-rate] .fa-star {
  color: #d5d73c;
}
.alert.review .fa-close {
  color: #fff;
}

.settings,
.notifications {
  font-family: Helvetica;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #929ea9;
  margin-bottom: 30px;
}
.settings .istkr-pro-features,
.notifications .istkr-pro-features {
  background: #4f6df5;
  border: 0;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 130px;
}
.settings .istkr-pro-features img,
.notifications .istkr-pro-features img {
  width: 32px;
}
.settings .bootstrap-switch,
.notifications .bootstrap-switch {
  transform: scale(0.8);
}
.settings .log-info-block,
.notifications .log-info-block {
  font-size: 14px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings h5,
.notifications h5 {
  color: #040047;
}
.settings select,
.notifications select {
  max-width: inherit;
}
.settings input[type=email],
.settings input[type=url],
.settings select,
.notifications input[type=email],
.notifications input[type=url],
.notifications select {
  margin-top: 5px;
  margin-bottom: 24px;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #cecece;
}
.settings input[type=email][disabled],
.settings input[type=url][disabled],
.settings select[disabled],
.notifications input[type=email][disabled],
.notifications input[type=url][disabled],
.notifications select[disabled] {
  background-color: #f6f7f7;
}
.settings .form-check,
.notifications .form-check {
  margin-top: 5px;
  margin-bottom: 24px;
}
.settings input[type=submit],
.notifications input[type=submit] {
  padding: 10px 20px;
  border-radius: 5px;
}
.settings input[type=submit].enable,
.notifications input[type=submit].enable {
  background-color: #4f6df5;
}
.settings input[type=submit].disable,
.notifications input[type=submit].disable {
  background-color: #f84042;
}

#istkr-404-redirects-table_paginate, #istkr_log-table_paginate {
  border-style: none !important;
}
#istkr-404-redirects-table_paginate .current, #istkr_log-table_paginate .current {
  color: #fff !important;
  background: #4f6df5 !important;
}
#istkr-404-redirects-table_paginate .paginate_button,
#istkr-404-redirects-table_paginate .ellipsis,
#istkr-404-redirects-table_paginate .previous, #istkr_log-table_paginate .paginate_button,
#istkr_log-table_paginate .ellipsis,
#istkr_log-table_paginate .previous {
  margin: 0 3px;
  border: 0;
  border: 1px solid #4f6df5;
  padding: 5px 15px;
  border-radius: 5px;
}
#istkr-404-redirects-table_paginate .paginate_button:hover,
#istkr-404-redirects-table_paginate .ellipsis:hover,
#istkr-404-redirects-table_paginate .previous:hover, #istkr_log-table_paginate .paginate_button:hover,
#istkr_log-table_paginate .ellipsis:hover,
#istkr_log-table_paginate .previous:hover {
  background: #4f6df5 !important;
  color: #fff;
}
#istkr-404-redirects-table_paginate .paginate_button a,
#istkr-404-redirects-table_paginate .ellipsis a,
#istkr-404-redirects-table_paginate .previous a, #istkr_log-table_paginate .paginate_button a,
#istkr_log-table_paginate .ellipsis a,
#istkr_log-table_paginate .previous a {
  text-decoration: none;
  margin: 0px;
}
#istkr-404-redirects-table_paginate .paginate_button.disabled:hover, #istkr_log-table_paginate .paginate_button.disabled:hover {
  color: #fff !important;
}

#wpbody-content {
  background-color: #F0F0F0;
}

.istkr-dashboard,
.istkr-log-viewer,
.istkr-404-redirects,
.istkr-advisor {
  max-width: 1800px;
  padding-left: 30px;
  padding-right: 30px;
}
.istkr-dashboard p,
.istkr-log-viewer p,
.istkr-404-redirects p,
.istkr-advisor p {
  font-size: 15px;
}
.istkr-dashboard .datetime,
.istkr-log-viewer .datetime,
.istkr-404-redirects .datetime,
.istkr-advisor .datetime {
  min-width: 180px;
}

#wpcontent,
#wpfooter {
  margin-left: 135px;
  padding-left: 25px;
}

.istkr-dashboard .dataTables_wrapper .dataTables_length,
.istkr-log-viewer .dataTables_wrapper .dataTables_length,
.istkr-404-redirects .dataTables_wrapper .dataTables_length,
.istkr-advisor .dataTables_wrapper .dataTables_length {
  margin: 5px 0 10px 0;
}
.istkr-dashboard .dataTables_wrapper .dataTables_length select,
.istkr-log-viewer .dataTables_wrapper .dataTables_length select,
.istkr-404-redirects .dataTables_wrapper .dataTables_length select,
.istkr-advisor .dataTables_wrapper .dataTables_length select {
  padding: 0 24px 0 8px;
}
.istkr-dashboard .dataTables_wrapper .dataTables_filter,
.istkr-log-viewer .dataTables_wrapper .dataTables_filter,
.istkr-404-redirects .dataTables_wrapper .dataTables_filter,
.istkr-advisor .dataTables_wrapper .dataTables_filter {
  margin: 5px 0 10px 0;
}
.istkr-dashboard .dataTables_wrapper .dataTables_filter input,
.istkr-log-viewer .dataTables_wrapper .dataTables_filter input,
.istkr-404-redirects .dataTables_wrapper .dataTables_filter input,
.istkr-advisor .dataTables_wrapper .dataTables_filter input {
  height: 30px;
}
.istkr-dashboard .dataTables_wrapper .dataTables_info,
.istkr-log-viewer .dataTables_wrapper .dataTables_info,
.istkr-404-redirects .dataTables_wrapper .dataTables_info,
.istkr-advisor .dataTables_wrapper .dataTables_info {
  margin-top: 4px;
}

@media print, not screen {
  .no-print {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
